*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}



.parent-div{
    background-image: url("https://img.freepik.com/premium-photo/grainy-gradient-background-red-white-blue-colors-with-soft-faded-watercolor-border-texture_927344-24167.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.child-div .real-content{
    width: 80%;
    margin: 0 auto;
}

.section-one{
    /* padding-top: 8rem; */
    /* justify-content: center; */
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: transparent;
    box-shadow: -2px 4px 14px rgba(30, 30, 8, 0.653);
    color: white;
}

.section-one .section-one-element{
    margin-top:8rem;
}

.section-two{
    /* padding-top: 8rem; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    box-shadow: 2px 4px 14px rgba(30, 30, 8, 0.653);
}

.section-two h2{
    padding-top: 4rem;
    /* padding-left: 5rem; */
    font-weight: bold;
}

.account-already h5{
    padding-top: 4.4rem;
    font-size: 18px;
    color: rgba(102, 0, 255, 0.752);
}

.account-already-mobile{
    display: none;
}

.account-already-mobile h5{
    font-size: 12px;
    color: rgba(102, 0, 255, 0.752);
    padding: 2% 11% 0 11%;
    
}

.social-icons{
    display: flex;
    margin-top: 1.8rem;
    justify-content:center;
    gap: 20px;
}



.login-or{
    text-align: center;
}

.form-container{
    width: 80%;

}

.form-container input{
    height: 3.5rem;
    border: 1px solid rgba(18, 18, 17, 0.156);
    border-radius: 14px;
    /* width: 86%; */
    
}

.form-container input::placeholder{
    font-size: 1rem;
}



.check-box p{
    font-size: 18px;

}


.button-continue{
    display: flex;
    justify-content:center;
}
.button-continue button{
    color: white;
    background-color: rgba(0, 89, 255, 0.856);
    font-size: 20px;
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    margin-right: 8%;
}

